<div id="<%= dom_id user %>" class="user-info">
  <p class="user-field">
    <strong class="field-label">Name:</strong>
    <%= user.name %>
  </p>

  <p class="user-field">
    <strong class="field-label">Email:</strong>
    <%= user.email %>
  </p>

</div>
