<p style="color: green"><%= notice %></p>

<h1 class="general-heading">All Users🦄</h1>

<div id="users">
  <% @users.each do |user| %>
    <div class="user-card">
      <div class = "user-content">
        <div class="user-emoji">👾</div>
        <%= render user %>
      </div>
      <div class="view-posts-link">
        <%= link_to "View Posts", user %>
      </div>
    </div>
  <% end %>
</div>

<div class = "create-btn">
  <%= link_to "Create New User", new_user_url, class: "create-user-btn" %>
</div>