<div class="center jumbotron">
  <h1>Welcome to our app :D</h1>

  <%= link_to "Create User", new_user_url, class: "btn btn-lg btn-primary" %>
  <%= link_to "View Users", users_url, class: "btn btn-lg btn-primary" %>
  <%= link_to "View Posts", posts_url, class: "btn btn-lg btn-primary" %>
</div>