<%= form_with(url: user_posts_path(user)) do |form| %>
  <div>
    <%= form.text_area :content, size: "60x10", class: "text-area" %>
  </div>
  <div class = "submit-post-div">
    <%= form.submit "Submit", class: "submit-post-btn" %>
  </div>
<% end %>